<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title></title>
</head>
<body>
	<div class="ct">
		
		<label class="result">Name:</label>
		<p class="result"><%= session.name %></p>
		<label class="result">Dojo Location:</label>
		<p class="result"><%= session.location %></p>
		<label class="result">Favorite Language:</label>
		<p class="result"><%= session.language %></p>
		<label class="result">Comment:</label>
		<p class="result"><%= session.comment %></p>

	</div>

</body>
</html>